@font-face {
    font-family: 'Time Number';
    src: url('../assets/font/LCD-Number.ttf') format('truetype')
}
@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('../assets/font/YouSheBiaoTiHei-2.ttf') format('truetype')
}